
.button {
    padding: 7px;
    margin: 10px 10px 10px 10px;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    display: block;
    width: 60px;
}

.green {
    color: white;
    background: #77aaae;
}

.orange {
    color: white;
    background: rgb(241, 172, 81);
}

.gray {
    color: white;
    background: #aaaaac;
}


.gray-outline {
    color: black;
    background: white;
    border-radius: 5px;
    border-style: solid;
    border-width: 3px;
    border-color: #aaaaac;
}

.sentence {
    width:300px;
}

a.memo_line {
    padding: 7px;
    margin: 10px 10px 10px 10px;
    font-size: 15px;
    text-decoration: none;
    text-align: left;
    border-radius: 5px;
    display: block;
    width: 290px;
    color: black;
    background: #f9f9f9;
}

.create_memo {
    display: inline-flex;
}

.memo_object {
    display: inline-flex;
}


input {
    margin: 10px;
}
