{% extends "base.html" %}
{% block base %}
    {% for field in form.errors %}
    {% for error in form.errors[field] %}
        <div >{{error}}</div>
    {% endfor %}
    {% endfor %}
    <form name="create_memo" action="/create_memo" method="POST">
        {{ form.csrf_token }}
        <div>
            {{ form.sentence }}
            <a href="javascript:create_memo.submit()" class="button green">+</a>
        </div>
    </form>
    {% for pice in memo %}
        <div>{{pice.update_date}} {{pice.sentence}}</div>
    {% endfor %}
{% endblock %}