{% extends "base.html" %}
{% block base %}
    {% for field in form.errors %}
    {% for error in form.errors[field] %}
        <div >{{error}}</div>
    {% endfor %}
    {% endfor %}
    <form name="create_memo" action="/create_memo" method="POST">
        {{ form.csrf_token }}
        <div class="create_memo">
            {{ form.sentence }}
            <a href="javascript:create_memo.submit()" class="button green">+</a>
        </div>
    </form>
    {% for pice in memo %}
    <form name="delete_memo_{{pice.memo_id}}" action="/delete_memo/{{pice.memo_id}}" method="POST">
        <div class="memo_object">
            <div class="memo">
                {{pice.update_date}} <br>{{pice.sentence}}
            </div>
            <a href="javascript:delete_memo_{{pice.memo_id}}.submit()" class="button orange">-</a>
        </div>
    </form>
    {% endfor %}
{% endblock %}
